INSERINDO VALORES NA TABELA DO SQL

In [1]:
import pyodbc
import pandas as pd

dados_conexao = ( "Driver={SQLite3 ODBC Driver};"
                 "Server=localhost;"
                "Database=chinook.db.db;")

conexao = pyodbc.connect(dados_conexao)

cursor = conexao.cursor()

In [2]:
cursor.execute("""
INSERT INTO albums (Title, ArtistId)
VALUES
('Lira Rock', 4)
""")

cursor.commit()

cursor.close()
conexao.close()