In [2]:
import pandas as pd

exportacao_df = pd.read_csv(r'C:\Users\Pichau\Documents\estudos\modulos-python\modulos-python\pandas\exercicios\exportacoes_franca (1).csv', sep=',', encoding='utf-8')
display(exportacao_df)
print(exportacao_df.info())

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
1,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
3,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",European Union (EU),69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
...,...,...,...,...,...,...,...,...,...,...,...
142355,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",European Union (EU),2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142357,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,European Union (EU),27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045
142359,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,European Union (EU),31111,23045

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142360 entries, 0 to 142359
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Year             142360 non-null  int64
 1   Month            142360 non-null  int64
 2   Country          142360 non-null  object
 3   City             142360 non-null  object
 4   SH4 Code         142360 non-null  int64
 5   SH4 Description  142360 non-null  object
 6   SH2 Code         142360 non-null  int64
 7   SH2 Description  142360 non-null  object
 8   Economic Block   142360 non-null  object
 9   US$ FOB          142360 non-null  int64
 10  Net Weight       142360 non-null  int64
dtypes: int64(6), object(5)
memory usage: 11.9+ MB
None

In [7]:
#v = exportacao_df.groupby('Year').sum()
#v = v['US$ FOB']
valores_por_ano = exportacao_df[['Year', 'US$ FOB']].groupby('Year').sum(numeric_only=True)
def formatar(valor):
    valor_formatado = f'US${valor:,.2f}'
    return valor_formatado
valores_por_ano['US$ FOB'] = valores_por_ano['US$ FOB'].apply(formatar)
display(valores_por_ano)

                  US$ FOB
Year
2016  US$4,615,500,082.00
2017  US$4,448,705,456.00
2018  US$5,239,424,416.00
2019  US$5,218,723,612.00
2020  US$3,967,594,810.00

### Quais os produtos mais exportados ao longo de todo o período?

Queremos saber os produtos com maior valor US$ de exportação

In [ ]:
valores_por_produto = exportacao_df[['SH2 Description', 'US$ FOB']].groupby('SH2 Description').sum(numeric_only=True)

valores_por_produto = valores_por_produto.sort_values('US$ FOB', ascending=False)

valores_por_produto['US$ FOB'] = valores_por_produto['US$ FOB'].apply(formatar)

display(valores_por_produto)

                                                                US$ FOB
SH2 Description
Residues and waste from the food industries; ot...  US$5,641,498,484.00
Ores, slag and ash                                  US$3,404,353,274.00
Nuclear reactors, boilers, machinery and mechan...  US$1,889,781,694.00
Pulp of wood or of other fibrous cellulosic mat...  US$1,855,424,642.00
Aircraft, spacecraft, and parts thereof             US$1,253,007,710.00
...                                                                 ...
Umbrellas, sun umbrellas, walking-sticks, seat-...         US$18,872.00
Cork and articles of cork                                  US$10,974.00
Wool, fine or coarse animal hair; horsehair yar...          US$2,540.00
Tin and articles thereof                                    US$2,460.00
Photographic or cinematographic goods                         US$148.00

[97 rows x 1 columns]

### Em 2020 qual cidade mais exportou para a França?
Em valores US$

In [ ]:
import matplotlib.pyplot as plt
tabela_2020 = exportacao_df.loc[exportacao_df['Year'] == 2020, ['City', 'US$ FOB']] 

tabela_2020 = tabela_2020[['City', 'US$ FOB']].groupby('City').sum(numeric_only=True)

tabela_2020 = tabela_2020.sort_values('US$ FOB', ascending=False)

tabela_2020['US$ FOB'] = tabela_2020['US$ FOB'].apply(formatar)
display(tabela_2020)

                                       US$ FOB
City
Duque de Caxias - RJ         US$279,405,596.00
Luís Eduardo Magalhães - BA  US$265,328,132.00
Ponta Grossa - PR            US$187,777,016.00
São José dos Campos - SP     US$172,939,276.00
Rio de Janeiro - RJ          US$122,522,214.00
...                                        ...
Não-Me-Toque - RS                     US$42.00
Cubatão - SP                          US$40.00
Holambra - SP                         US$10.00
São Sebastião do Caí - RS              US$6.00
Quatro Pontes - PR                     US$0.00

[648 rows x 1 columns]

### Quais os produtos mais exportados (em US$) que as 2 maiores cidades (em exportação em 2020) exportaram?

In [ ]:
condicao  = (exportacao_df['Year'] == 2020) & (exportacao_df['City'] == 'Duque de Caxias - RJ') | (exportacao_df['City'] == 'Luís Eduardo Magalhães - BA')
produtos_cidade_2020 = exportacao_df.loc[condicao, ['SH2 Description', 'City', 'US$ FOB']]
produtos_cidade_2020 = produtos_cidade_2020.groupby(['SH2 Description', 'City']).sum(numeric_only=True)

produtos_cidade_2020 = produtos_cidade_2020.sort_values('US$ FOB' , ascending=False)
produtos_cidade_2020['US$ FOB'] = produtos_cidade_2020['US$ FOB'].apply(formatar)

display(produtos_cidade_2020)

                                                                                          US$ FOB
SH2 Description                                    City
Residues and waste from the food industries; ot... Luís Eduardo Magalhães - BA  US$754,741,934.00
Nuclear reactors, boilers, machinery and mechan... Duque de Caxias - RJ         US$185,816,982.00
Mineral fuels, mineral oils, bituminous substan... Duque de Caxias - RJ          US$67,355,688.00
Articles of iron or steel                          Duque de Caxias - RJ           US$9,118,714.00
Residues and waste from the food industries; ot... Duque de Caxias - RJ           US$4,014,274.00
Optical, photographic, cinematographic instrume... Duque de Caxias - RJ           US$3,013,092.00
Nickel and articles thereof                        Duque de Caxias - RJ           US$2,951,286.00
Electrical machinery and equipment and parts th... Duque de Caxias - RJ           US$2,595,048.00
Lead and articles thereof                          Duque de Caxias - RJ           US$1,660,180.00
Rubber and articles thereof                        Duque de Caxias - RJ           US$1,379,296.00
Organic chemicals                                  Duque de Caxias - RJ             US$535,136.00
Vehicles other than railway or tramway rolling-... Duque de Caxias - RJ             US$353,958.00
Edible fruit and nuts; peel of citrus fruits or... Luís Eduardo Magalhães - BA      US$286,270.00
Plastics and articles thereof                      Duque de Caxias - RJ             US$228,638.00
Aluminium and articles thereof                     Duque de Caxias - RJ             US$168,522.00
Copper and articles thereof                        Duque de Caxias - RJ             US$138,466.00
Cotton                                             Luís Eduardo Magalhães - BA      US$100,672.00
Tools, implements, cutlery, spoons and forks, o... Duque de Caxias - RJ              US$33,864.00
Articles of stone, plaster, cement, asbestos, m... Duque de Caxias - RJ              US$16,856.00
Miscellaneous chemical products                    Duque de Caxias - RJ              US$11,984.00
Glass and glassware                                Duque de Caxias - RJ               US$8,430.00
Railway or tramway locomotives, rolling-stock a... Duque de Caxias - RJ               US$3,666.00
Paper and paperboard; articles of paper pulp, o... Duque de Caxias - RJ               US$1,516.00